.container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 270px));
    grid-gap: 1em;
    justify-content: center;
}
.card {
    width: 15em;
    border-radius: 4px !important;
    box-shadow: -10px -10px #181818;
}
.card p {
    display: inline;
}

.card .icon {
    float:right;
    min-width: 21px;
}
@media ((orientation: portrait) and (max-width:600px)){
    .container {
        grid-template-columns: repeat(1fr, minmax(80vw, 90vw));
    }
    .card {
        border-radius: 2px !important;
    }
}
