.container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-gap: 1em;
    justify-content: center;
}
.card {
    width: 13em;
    border-radius: 0;
}

@media ((orientation: portrait) and (max-width:600px)){
    .container {
        grid-template-columns: repeat(1fr minmax(200px, 250px));
    }
}
