* {
    font-family: helvetica;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

footer {
    background-color: #cccccc;
    width: 100vw;
}

.search {
    float: right;
    margin: 2em;
}

header {
    background-color: #302f36;
    padding: 1em;
    width:100vw;
}

h1 {
    display: inline-flex;
}

#spotifyCredit {
    display: inline-flex;
    justify-content: right;
    padding: 1em;
    align-items: center;    
}

.container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-gap: 1em;
    justify-content: center;
}
.card {
    width: 13em;
    border-radius: 0;
}

main {
    min-height: 75vh;
    display: flex;
    justify-content: space-around
}

nav {
    height: 3em;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}