.space-grotesk {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #78c2ea !important;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    flex-grow: 1;
    
}

footer {
    padding: 10px;
    display: flex;
    background-color: #181818;
    color: #c6a8a3;
    justify-content: space-between;
}

footer img {
    margin: 5px
}
footer a {
    color:#78c2ea
}

header {
    background-color: #181818;
    padding: 1em;
    width:100vw;
}

#spotifyCredit {
    display: flex;
}


nav {
    height: 3em;
}

.login {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #fe9f39;
    /* background-color: #eeeeee;  */
    color: #181818;
    border-radius: 15px;
    padding: 2em;
    box-shadow: -10px -10px #181818;
}

.navbar .active {
    color:#fe9f39 !important;
}

.navbar .nav-link {
    color: #c6a8a3;
}
.navbar-brand {
    color:#e6612e !important;
}

#search ul {
    display: none;
}
@media ((orientation: portrait) and (max-width:600px)){
    footer {
        display: none;
    }
}
