
.space-grotesk {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #b3b3b3;
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

footer {
    display: flex;
    background-color: #212121;
    width: 100vw;
    flex: 0 30px;
    justify-content: space-between;
}

.search {
    float: right;
    margin: 2em;
}

header {
    background-color: #181818;
    padding: 1em;
    width:100vw;
}

#spotifyCredit {
    display: flex;
    justify-items: right;
}

.container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-gap: 1em;
    justify-content: center;
}
.card {
    width: 13em;
    border-radius: 0;
}

main {
    min-height: 83vh;
    display: flex;
    justify-content: space-around
}

nav {
    height: 3em;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    color: white;
    border-radius: 5em;
    padding: 2em;
}

.bg-secondary-color {
    color: #cccccc;
    background-color: #505050;
}