* {
    font-family: helvetica;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

footer {
    background-color: #cccccc;
    width: 100vw;
}

.search {
    float: right;
}

header {
    background-color: #302f36;
    padding: 1em;
    width:100vw;
}

h1 {
    display: inline-flex;
}

#spotifyCredit {
    display: inline-flex;
    justify-content: right;
    padding: 1em;
    align-items: center;    
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-auto-rows: 250px;
    grid-gap: minmax(.5em, 4em)
}
