/* contains styling for forms, 
as well as for the page to leave ratings */

#albumInfo {
    display: inline;
    justify-content: center;
    word-wrap: break-word;
    word-break: break-word;
    background-color: #fe9f39;
    padding: 3em;
    border-radius: 4%;
    box-shadow: -10px -10px ;
}

#albumInfo h1 {
    font-weight: 600;
    font-size: 50px;
}

#albumCover {
    float:left;
    width: 500px;
    display: inline-flex;
    border-style: solid;
    border-width: 10px;
    box-shadow: -10px -10px #181818;
    border-radius: 4%;
    margin: 30px;
    
}

#submit {
    width: 350px;
    align-self: center;
}

#ratingSlider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn {
    border-color:#e6612e !important;
}

.btn-primary {
    background-color:#e6612e !important;
    color: #ffffff !important
}

.btn-outline-primary {
    color: #e6612e !important;
}

.btn-outline-primary:hover {
    background-color: #e6612e !important;
    color: #ffffff !important;
}  

.btn-primary:hover {
    color: #e6612e !important;
    background-color: #fe9f39 !important;
}

#userInput {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 600px;
}

.form-range::-webkit-slider-thumb{
    background-color: #e6612e !important;
}

@media ((orientation: portrait)) and (max-width:700px){
    main {
        display: flex;
        flex-direction: column;
    }
    #albumInfo {
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: 1em;
        width: 80vw;
        padding: 2em;
    }
    #albumCover {
        width: 60vw;
        margin: 1em;
        align-self: center;
    }
    #userInput {
        display: flex;
    }
    #submit {
        width: 60vw;
    }
}
